@media screen and (max-width: 768px){

    header{
        font-size: 20px;
        flex-direction: column;
        position: relative;
        right: 5%;       
    }

    div{
       display: none;

    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 28px;
        padding: 2px;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: center;
    }

    img{
        display: none;
    }

    ul{
        text-align: center;
    }
}